@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light-grey: #F7F7F7;
$color-dark-grey: #EFEFEF;

.a {
    text-decoration: none;
}

.page-container {
    font-family: 'roboto', sans-serif;

    @media screen and (min-width:992px) {
        max-width: 1440px;
        margin: auto;
    }
}

.home-header {
    padding: 20px 0px 10px 0px;
    text-align: center;
    border-bottom: solid #DFDFDF 3px;
    box-shadow: 0px 0px 5px 0px #DFDFDF;
    position: relative;

    &__logo {
        width: 11rem;
        height: auto;
    }

    &__arrow{
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 20px;
    }

    @media screen and (min-width: 762px) and (max-width: 375px) {}

    @media screen and (min-width: 992px) {}
}

.location {
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    background-color: $color-dark-grey;

    &__text {
        margin: 0px;
        font-weight: 600;
        font-size: 16px;
        color: #5E5E5E;
    }

    &__icon {
        margin-right: 20px;
        font-size: 17px;
        color: #4e4e4e;
    }

    @media screen and (min-width: 762px) and (max-width: 375px) {}

    @media screen and (min-width: 992px) {}
}

.intro {
    @media screen and (min-width: 992px) {
        display: flex;
    }
}

.explore {
    background-color: $color-light-grey;
    padding: 20px 20px;
    text-align: center;

    &__title {
        font-size: 23px;
        font-weight: 700;
        margin: 20px 0px;
    }

    &__text {
        margin: 10px 0px;
        padding: 20px 0px;
        font-size: 18px;
        color: #717171;
    }

    .button {
        background-image: linear-gradient($color-secondary, $color-primary);
        padding: 15px 20px;
        width: 230px;
        font-size: 17px;
        border-radius: 30px 30px;
        color: white;
        border: none;
        box-shadow: 0px 2px 10px 2px #DFDFDF;
        margin-bottom: 40px;
        text-decoration: none;
        cursor: pointer;


        &:hover {
            filter: brightness(1.05);
            box-shadow: 0px 2px 10px 2px #BFBFBF;
        }
    }

    @media screen and (min-width: 992px) {
        width: 50%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.how-it-works {
    margin: 40px 0px 0px 10px;


    @media screen and (min-width: 376px) and (max-width: 992px) {
        margin: 0px;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 992px) {
        margin: 0px;
        width: 50%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

}

.hiw-title {
    margin: 20px 10px;
    width: 400px;

    @media screen and (min-width: 992px) {
        margin: 30px 0px;
        text-align: center;
    }
}

.hiw-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiw-card {
    display: flex;
    padding: 25px 25px 20px 25px;
    border-radius: 20px;
    box-shadow: 1px 3px 15px 0px #DFDFDF;
    background-color: $color-light-grey;
    margin: 0px 20px 30px 20px;
    width: 275px;
    cursor: pointer;

    &--last {
        background-color: lighten($color-primary, 35%);
    }

    &__purple-circle {
        background-color: $color-primary;
        padding: 4px 8px;
        border-radius: 50%;
        color: white;
        font-size: 14px;
        margin: 0px 20px 0px -40px;
    }

    &__icon {
        font-size: 18px;
        color: #5E5E5E;
        margin-right: 30px;

        &--last {
            color: $color-primary;
        }
    }

    &__text {
        font-weight: 600;
    }

}

.restaurant-area {
    background-color: $color-light-grey;
    padding: 20px 0px;
    height: auto;

    &__title {
        margin-left: 20px;

        @media screen and (min-width: 376px) and (max-width: 992px) {
            text-align: center;
        }

        @media screen and (min-width: 992px) {
            text-align: center;
        }

    }
}

.restaurant-card-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 376px) and (max-width: 992px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }


}

a {
    text-decoration: none;
    color: black;
}

.restaurant-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 10px 2px lightgray;
    transition: 0.3s;
    border: none;
    border-radius: 20px 20px;
    width: 330px;
    height: auto;
    position: relative;
    margin-bottom: 20px;


    &:hover {
        transform: scale(1.05);
        transition: 400ms;
    }

    &__image {
        font-size: 40px;
        width: 330px;
        height: 170px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    &__new {
        background-color: $color-tertiary;
        width: 70px;
        padding: 5px;
        font-size: 14px;
        color: darken($color-tertiary, 35%);
        font-weight: 700;
        position: absolute;
        top: 15px;
        left: 230px;
        z-index: 1;
        text-align: center;
        border-radius: 2px;
    }

    &__container {
        position: relative;
        padding: 5px 20px 5px 0px;
        background-color: white;
        margin-left: 0px;
        border-radius: 0px 0px 20px 20px;
    }


    &__title {
        margin: 0px;
        position: relative;
        padding-bottom: 5px;
        top: 5px;
        left: 14px;
        font-size: 17px;
        text-decoration: none;
    }

    &__city {
        position: relative;
        top: 2px;
        left: 14px;
        font-size: 15px;
        padding-bottom: 10px;
    }

    &__heart {
        position: absolute;
        left: 290px;
        bottom: 20px;
        font-size: 25px;
    }

    &__full-heart {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        position: absolute;
        bottom: 20px;
        left: 290px;
        font-size: 25px;
        opacity: 0;
        transition: opacity 400ms;

        &:hover {
            opacity: 1;
            background: -webkit-linear-gradient(top, $color-secondary, $color-primary);
            background-clip: text;
            -webkit-background-clip: text;
            cursor: pointer;
        }
    }

    @media screen and (min-width: 992px) {
        margin: 0px;
    }

}

.footer {
    background-color: #3F3F3F;
    padding: 20px;
    height: 150px;
    color: white;


    @media screen and (min-width: 992px) {
        text-align: center;
    }

}

.footer-logo {
    font-family: 'Shrikhand', sans-serif;
    text-decoration: none;
    font-size: 19px;
    font-weight: 200;
}

.footer-list {


    &__text {
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
        margin: 7px 0px;

    }

    &__logo {
        font-size: 13px;
        margin-right: 10px;

        &--1{
            font-size: 12px;
            margin-right: 7px;
        }
    }

    &__link{
        color: white;
    }
}

// restaurant menu pages
.hero-image{


    @media screen and (min-width: 992px){
        padding: 0px 40px;
        background-color: $color-dark-grey;
    }

    &__image{
        width: 100%;
        height: 300px;
        z-index: 0;

        @media screen and (min-width: 376px) and (max-width: 992px) {
            max-height: 500px;
            object-fit: fill;
            height: auto;
        }

        @media screen and (min-width: 992px) {
            max-height: 600px;
            height: auto;
            object-fit: fill;
        }
    
    }
}

.menu-area{
    background-color: $color-light-grey;
    height: auto;
    margin-top: -50px;
    z-index: 1;
    border-radius: 30px 30px 0px 0px;
    padding: 30px 5px 10px 5px;
    position: relative;

    &__title-area{
        width: auto;
        // text-align: center;

        @media screen and (min-width: 992px) {
            text-align: center;
        }
    }



    &__title{
        margin: 0px 10px;
        padding: 0px;
        font-family: 'shrikhand', sans-serif;
        font-size: 28px;
        font-weight: 200;
       
        

        @media screen and (min-width: 376px) and (max-width: 992px) {
            text-align: center;
        }
    
        @media screen and (min-width: 992px) {
            text-align: center;
        }

        &--1{

            padding: 0px 40px 0px 0px;

            @media screen and (min-width: 376px) and (max-width: 992px) {
                text-align: center;

                
            }
        
            @media screen and (min-width: 992px) {
                text-align: center;
            }
        }
    }

    &__heart {
        font-size: 25px;
        position: absolute;
        right: 40px;

        &--1{
            top: 30px;
        }
    }
}

.course{
    margin: 20px 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 376px) and (max-width: 992px) {
        align-items: center;
    }

    
    @media screen and (min-width: 992px) {
        align-items: center;
    }


    &__title{
        font-weight: 100;
        font-size: 15px;
        border-bottom: 3px solid $color-tertiary;
        padding-bottom: 5px;
        width: 80px;
        position: relative;

        
    }

    &__menu-card{
        padding: 10px;
        padding-bottom: 0px;
        background-color: white;
        width: 320px;
        border-radius: 15px;
        box-shadow: 0px 2px 10px 2px lightgray;
        position: relative;
        margin: 10px 0px;

        &:hover{
            transform: scale(1.05);
        }

        @media screen and (min-width: 992px) {

        }
        

        &__title{
            margin: 0px;
            font-size: 18px;
            position: relative;
            top: 5px;
            width: 275px;
        }

        &__description{
            position: relative;
            margin: 0px;
            font-size: 15px;
            top: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 285px;
        }

        &__price{
            margin: 0px;
            font-size: 15px;
            font-weight: 600;
            position: relative;
            left: 290px;
            bottom: 10px;
        }
    }
}

.order-button{
    text-align: center;

    .button{
        background-image: linear-gradient($color-secondary, $color-primary);
        padding: 15px 20px;
        width: 230px;
        font-size: 17px;
        border-radius: 30px 30px;
        color: white;
        border: none;
        box-shadow: 0px 2px 10px 2px #DFDFDF;
        margin-bottom: 60px;
        margin-top: 5px;
        text-decoration: none;
        cursor: pointer;


        &:hover {
            filter: brightness(1.05);
            box-shadow: 0px 2px 10px 2px #BFBFBF;
        }
    }
}
