@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "./utils/variables";
@import "./base/normalize";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/homepage";
@import "./pages/restaurant";


